alias ..='cd ..'
alias ...='cd ../..'
alias back='cd "$OLDPWD"'
alias ls='ls -l'
alias scripts='cd "$DROPBOX_PERSONAL/Scripts"'

alias grep='grep --color=auto'
alias top='top -o cpu'
alias dev='cd ~/dev'

# copy the working directory path
alias cpwd='pwd|tr -d "\n" | pbcopy'

# reload your bash config
# alias src="source $HOME/.bash_profile"
alias src="source $DOTFILES_DIR/bootstrap.sh -f"

# share history between terminal sessions
alias he="history -a" # export history
alias hi="history -n" # import history


# Find todo items that are assigned to me.
alias todo='ga_code_search "TODO\(ryan\)"'

# Find merge conflicts that need to be resolved.
alias conf='ga_code_search <<<<'

# Find anything below your CWD.
alias ccs='ga_code_search'

# Disable security cameras
alias killcam="ssh kvothe.local 'osascript /Users/rjames/Dropbox/Scripts/securityspy/deactivate_securityspy.scpt'"
