# Make emacs the default editor.
export EDITOR='emacs';

# Colors
export LS_OPTIONS='--color=auto'
export CLICOLOR=1
export LSCOLORS=ExFxCxDxBxegedabagacad

# Basic options
export HISTTIMEFORMAT='%F %T %t'
export HISTCONTROL=ignoredups
export HISTSIZE=5000
export HISTFILESIZE=1000000

# Paths
export DROPBOX_PERSONAL=$(python -c "import json;f=open('$HOME/.dropbox/info.json', 'r').read();data=json.loads(f);print data.get('personal', {}).get('path', '')")
